
body{
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;

}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}



.containerWhite{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: whitesmoke;
}


.navbar-items{
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  height: 90px;
  padding: 30px 25px;
  border-bottom: 0.7px solid #61DAFB;

}


.navbar-items-dark{
  background-color: #21222A ;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
  border-bottom: #21222A;
  
}

.navbar-items > h4{
  color:#61DAFB;
}



nav > h3, nav > h4 {
  margin: 0;
}

nav > h3 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
}

nav > h4 {
  color: #DEEBF8;
  font-weight: 600;
}

nav > img {
  height: 30px;
  margin-right: 7px;
}


.heading {
  color: white;
  font-weight: 300px;
  font-size: 39px;
  padding-left: 25px;
  padding-top: 50px;
  letter-spacing: -0.05em;
}

.bodyContent{
  /* position: relative;
  top: -22px;
  height: 400px; */
  padding: 57px 27px;
  color: white;
  background-image: url(./assets/react-icon-large.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;

}

.lists{
  position: relative;
  left: 45px;
  margin-top: 46px;
  max-width: 400px;
}

.lists > li {
  color: white;
  font-weight: 300;
  font-size: medium;
  line-height: 19px;
  padding-block: 10px;
}

.lists > li::marker {
  font-size: 1.6rem;
  color: #61DAFB;
}
.navbar__toggle {
  /* background-color: #61DAFB; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-right: 40px;
}
.toggle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -6px;
  /* background-color:#61DAFB; */
  border-radius: 10px;
  height: 40px;
  width: 70px;
  background-image: url("./assets/react-icon-dark.png");
 
}

.toggle > p{
  color:#21222A;
  position: relative;
  top:-5px;
  left: 10px;

}

.toggle > img{
  position: relative;
  top:5px;
  left: 19px;
  height: 30px;
}

.imgDark{
  color: black;
  position: relative;
  top:-5px;
  left: 10px;
}


.bodyContentDark {
  background-image: url("/src/assets/react-icon-large.png"); 
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-color: #282D35;
  color: white; 
   
}


div.bodyContentWhite {
  background-image: url("/src/assets/react-icon-large.png"); 
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  /* background-color: #61DAFB; */
  
}

/* div.bodyContentWhite > img{
  color:#282D35;
}
 */


div.bodyContentWhite > h1{
  color: black;
}

div.bodyContentWhite > ul > li{
  color: black;
}